.rect{
    width: 70px;
    height: 70px;
}
.blue{
    background-color:blue;
}
.red{
    background-color:red;
}
.black{
    background-color:black;
}
.grey{
    background-color:grey;
}
.yellow{
    background-color:grey;
}